

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Arial,sans-serif";
  font-size: xx-large;
  font-weight: 900;
  background-color: black;
  scrollbar-width: none;
  color: white;
  text-align: center;
  
}
